<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keeprawteach.csi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/cc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Each.Each" />
        <activity android:name=".Each.Doctors" />
        <activity android:name=".Each.Staff" />
        <activity android:name=".Payment.Payment" />
        <activity android:name=".Login.Login" />
        <activity android:name=".Login.Request" />
        <activity android:name=".Patients.PatientsDash" />
        <activity android:name=".ViewData.ViewInfor" />
        <activity android:name=".Patients.Prescription" />
        <activity android:name=".Patients.Payments" />
        <activity android:name=".DoctorSide.PatientDoctor" />
        <activity android:name=".DoctorSide.ViewInforDoctor" />
        <activity android:name=".DoctorSide.PaymentsDoctor" />
        <activity android:name=".DoctorSide.PrescriptionDoctor" />
        <activity android:name=".Welcome.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DoctorSide.Charges" />
        <activity android:name=".Patients.ClearBill" />
        <activity android:name=".Feedback.SendFeedback" />
        <activity android:name=".Feedback.ReceiveFeedback"></activity>
    </application>

</manifest>